.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #282c34;
    color: white;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav {
    display: flex;
  }
  
  .navButton {
    background-color: #61dafb;
    border: none;
    color: white;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #626363;
  }

  .navButton:hover {
    background-color: #00dada;
  }