.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #282c34;
  color: white;
  position: fixed; /* Fix the header at the top */
  top: 0; /* Align it to the top */
  left: 0; /* Align it to the left */
  right: 0; /* Align it to the right */
  z-index: 1000; /* Ensure it is above other content */
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav {
  display: flex;
  transition: all 0.3s ease-in-out;
}

.navButton {
  background-color: #61dafb;
  border: none;
  color: white;
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #626363;
}

.navButton:hover {
  background-color: #00dada;
}

/* Burger menu icon */
.burgerMenu {
  display: none;
  cursor: pointer;
  color: white;
}

/* Hide the nav menu on smaller screens */
@media (max-width: 768px) {
  .nav {
    display: none;
    position: absolute;
    top: 70px; /* Adjust this to match the header height */
    right: 0;
    background-color: #282c34;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .navButton {
    margin: 10px 0;
  }

  /* Show the burger menu on small screens */
  .burgerMenu {
    display: block;
  }

  /* Show the nav when the burger menu is clicked */
  .showNav {
    display: flex;
  }
}

/* Add padding to the main content to avoid overlap */
.mainContent {
  padding-top: 80px; /* Space for the fixed header */
}
